<!DOCTYPE html>
<html lang="{{ metadata.lang }}">
  {% include "head.njk" %}
  <body class="bg-lightBg text-lightButton leading-normal tracking-normal subpixel-antialiased">
    <div class="max-w-screen-md mx-auto">
      {% include "header.njk" %}
      <main>
        {{ content | safe }}
      </main>
      {% include "footer.njk" %}
    </div>
  </body>
</html>