<!DOCTYPE html>
<html lang="{{ metadata.lang }}">
  {% include "head.njk" %}
  <body>
    <div class="max-w-screen-md mx-auto font-sans leading-normal tracking-normal text-gray-900">
      {% include "header.njk" %}
      <main>
        {{ content | safe }}
      </main>
      {% include "footer.njk" %}
    </div>
  </body>
</html>