<!DOCTYPE html>
<html lang="{{ metadata.lang }}"
      class="bg-lightBg text-lightParagraph
              leading-relaxed tracking-normal subpixel-antialiased
              font-caskaydia_cove
              selection:bg-lightSecondary
              ">
  {% include "head.njk" %}
  <body >
    <div class="max-w-screen-md mx-auto px-2">
      {% include "header.njk" %}
      <main class="px-2">
        {{ content | safe }}
      </main>
      {% include "footer.njk" %}
    </div>
  </body>
</html>