<footer class="flex justify-center py-10 text-base bg-slate-400" role="contentinfo">
    <div>
        <a href="/">
        Ⓒ 2022 Joseph Sebastian {{ build.timestamp }}
        </a>
    </div>
</footer>