<footer>
  <div class="flex flex-col items-center py-10">
    <div class="flex flex-col items-center md:space-x-8 md:flex-row">
      <span>Ⓒ 2022 Joseph Sebastian</span>
      <span>Powered by
        <a
          href="https://www.11ty.dev"
          target="_blank"
          rel="noopener noreferrer"
          >11ty
        </a>
      </span>
      <span>
        <a
          href="https://github.com/jspsv/website/"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub
      </a>
      </span>
    </div>
    <div>
      <span>Updated on {{ generated }}</span>
    </div>
  </div>
</footer>