<header class="text-lg">
  <div class="flex justify-between py-10">
    <div>
      {%- set isHome = (page.url == '/') -%}
      <a
        href="{% if isHome %}#main{% else %}{{ '/' | url }}{% endif %}"
        {% if isHome %} aria-current="page" {% endif %}
        >Joseph Sebastian
      </a>
    </div>
    <div class="hidden md:flex">
      <nav>
        <ul class="flex">
          {%- for item in collections.all | eleventyNavigation -%}
            {%- if item.url -%}
              {%- set isCurrent = (item.url == page.url) -%}
              <li>
                <a
                  class="pl-4"
                  href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}"
                  {% if isCurrent %} aria-current="page" {% endif %}
                  >{{ item.title }}
                </a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </nav>
    </div>
  </div>
</header>