---
layout: layouts/base.njk
title: 404
permalink: "/404.html"
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "{{ title }} | {{ metadata.author }}"
---

<article class="markdown">
  <h1>404</h1>
  <span>Page not found</span>
</article>