---
layout: base
eleventyNavigation:
  key: Posts
  oder: 1
pagination:
  data: collections.posts
  size: 5
  alias: list
  reverse: true
---

<ol>
{%- for post in pagination.items %}
  <li>{{ post.data.title }}</li>
{% endfor -%}
</ol>