---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: "Posts tagged '{{ tag }}' | {{ metadata.author }}"
permalink: "/tags/{{ tag | slugify }}/"
---

<h1>Posts tagged “{{ tag }}”</h1>

<div>
  <ul>
    {% for post in collections[tag] | reverse %}
      <div class="flex text-lg justify-between">
        <div>
          <a  href="{{ post.url | url }}">{{ post.data.title }}</a>
        </div>
        <div>
          <span>{{ post.date | readableDate }}</span>
        </div>
      </div>
    {% endfor %}
  </ul>
</div>

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>