---
layout: base
title: "404"
permalink: "404.html"
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "{{ title }} | {{ metadata.author }}"
---

<div>
  <h1>404</h1>
  <p>Page not found</p>
</div>