---
layout: base
title: About
eleventyNavigation:
  key: About
  order: 1
eleventyComputed:
  title: "{{ title }} | {{ metadata.author }}"
---

<article class="markdown">
  <h1>Contact</h1>
  <p>name</p>
  <p>email</p>
</article>