---
layout: base
title: About
permalink: about.html
eleventyNavigation:
  key: About
  order: 2
eleventyComputed:
  title: "{{ title }} | {{ metadata.author }}"
---

<div>
    <p>Hi there, its a me Mario!</p>
</div>