---
layout: base
title: Posts
eleventyNavigation:
  key: Posts
  oder: 1
pagination:
  data: collections.posts
  size: 5
  alias: posts
  reverse: true
  permalink: "{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
eleventyComputed:
  title: "{% if pagination.pageNumber > 0 %}Page {{ pagination.pageNumber + 1 }} | {% endif %}{{ title }} | {{ metadata.author }}"
---

<div>
  <ul>
    {%- for post in posts %}
      <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </li>
    {% endfor -%}
  </ul>
</div>
<div>
  {% if pagination.previous %}
    <div>
      <a href="{{ pagination.previous.replace(index.html, "") | url }}"
        >← Newer Posts
      </a>
    </div>
  {% endif -%}
  {% if pagination.next %}
    <div>
      <a href="{{ pagination.next.replace(index.html, "") | url }}"
        >Older Posts →
      </a>
    </div>
  {% endif -%}
</div>