---
layout: base
title: Posts
eleventyNavigation:
  key: Posts
  oder: 0
pagination:
  data: collections.posts
  size: 5
  alias: posts
  reverse: true
  permalink: "{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
eleventyComputed:
  title: "{% if pagination.pageNumber > 0 %}Page {{ pagination.pageNumber + 1 }} | {% endif %}{{ title }} | {{ metadata.author }}"
---

<div>
  <ul>
    {%- for post in posts %}
      <div class="flex text-lg justify-between">
        <div>
          <a  href="{{ post.url | url }}">{{ post.data.title }}</a>
        </div>
        <div>
          <span>{{ post.date | readableDate }}</span>
        </div>
      </div>
    {% endfor -%}
  </ul>
</div>
<div class="pt-4">
  {% if pagination.previous %}
    <div>
      <a href="{{ pagination.previous.replace(index.html, "") | url }}"
        >← Newer Posts
      </a>
    </div>
  {% endif -%}
  {% if pagination.next %}
    <div>
      <a href="{{ pagination.next.replace(index.html, "") | url }}"
        >Older Posts →
      </a>
    </div>
  {% endif -%}
</div>