---
layout: base
title: Tags
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "{{ title }} | {{ metadata.author }}"
---

<h1>All Tags</h1>

<div>
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <a href="{{ tagUrl | url }}">{{ tag }}</a>
  {% endfor %}
</div>